{% extends "layout.html" %}

{% block body %}
{% block main %}
<div style="margin-top: 50px;" class="container">      
    
    <table  class="table table-bordered border-primary" width="100%">
      <tr class="table-success">
          <th>الاسم</th>
          <th>رقم الطالب</th>
          <th>رقم الام</th>
          <th>رقم الاب</th>
          <th> الصف</th>
          <th>ملاحظة</th>
        </tr>

    {% for user in users %}
        <tr>
            <td class="ui big header align-middle">{{ user[1] }}</td> 
            <td><a class="ui green button" href="https://api.whatsapp.com/send?phone=972{{ user[5] }}">رقم الطالب</a></td>
            <td><a class="ui green button" href="https://api.whatsapp.com/send?phone=972{{ user[6] }}">رقم الام</a></td>
            <td><a class="ui green button" href="https://api.whatsapp.com/send?phone=972{{ user[7] }}">رقم الاب</a></td>
            <td>{{ user[3] }}</td> 
        </tr>
         
    {% endfor %}
    
{% endblock %}
{% endblock %}
