
@app.route("/search")
def search():
    cu.execute("SELECT * FROM users WHERE name LIKE (?)",[ "%" + request.args.get("searched_word") + "%"]) 
    users = cu.fetchall()
    if users:
        return render_template("search.html", users=users)
    else:
        cu.execute('SELECT * FROM users')
        users = cu.fetchall()
        not_found = 1
        return render_template("index.html", users=users, not_found=not_found)




##### search button worling
<div class="input-group input-group-sm mb-3">
    <input autocomplete="off" autofocus name="searched_word" placeholder="ابحث..." type="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    <input type="submit" value="Search" class="btn btn-primary">
  </div>

  #old
  <div style="text-align:center">
    <form action="/search" method="get">
        <input autocomplete="off" autofocus name="searched_word" placeholder="ابحث..." type="search">
        <input type="submit" value="Search" class="btn btn-primary">
    </form>
</div>
