<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    
    <script src="https:/  /code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="static//style.css"> 
    
    <title>click{% block title %}{% endblock %}</title>
  </head>
  <body>
  <header>

    <div class="container">
    
      <nav class="navbar navbar-default"> 
        <div class="container-fluid">
          <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                      </div>
                      <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                          <a class="navbar-brand" dir href="{{ url_for('index') }}"><span class="black">!<span class="blue">c</span><span class="red">l</span><span class="yellow">i</span><span class="green">c</span>k</span></a>
                        </ul>
                      <div>
                          <ul class="nav navbar-nav">
                            <li> </li>
                          </ul>
                          <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('index') }}">Quote</a></li>
                            <li><a href="{{ url_for('index') }}">Buy</a></li>
                            <li><a href="{{ url_for('index') }}">Sell</a></li>
                            <li><a href="{{ url_for('index') }}">History</a></li>
                            <li><a href="{{ url_for('index') }}">market</a></li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('index') }}">Log Out</a></li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('index') }}">Register</a></li>
                            <li><a href="{{ url_for('index') }}">Log In</a></li>
                          </ul>
  </header>


    <main>
      {% block main %}{% endblock %}
    </main>



    <footer>
  <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>, rshed sfa</p>
</footer>


</body>
</html>
