<!DOCTYPE html>
<html dir="rtl" lang="ar">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static//style.css"> 

    <title>Document</title>
  </head>
  <body>
  
<h2>قائمة الطلاب</h2>
<button id="openModalBtn">اسم الطالب</button>
<div class="modal-wrapper" id="modal">
  <div class="modal">
    <div class="modal-header">
      <h3>اسم الطالب</h3>
    </div>
    <div class="modal-body">
      <h4>10-2</h4>
      <br>
      <button class="callbutton">الطالب</button>
      <button class="callbutton">الام</button>
      <button class="callbutton">الاب</button>
    </div>
    <div class="modal-footer">
      <button id="closeModalBtn">Close</button>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='Popup.js')}}"></script>
</body>
</html>

