
body{
    text-align: center;
}




#title{
    margin-top: 1em;
    margin-bottom: 1em;
}

#main_chart{
    margin-top: 50px;

}

#search_button{
    direction: ltr;
    display: flex ;
    justify-content : center;
    align-items: center;
}
#search_not_found{
    font-size: 0.5em;
    text-align: center;
    color: red;
    margin: 3em;
}


input[type='text']{
    direction: rtl;
    text-align:right;
    }
    


.multi_form{
    text-align: center
}

.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-select{
    margin-top: 10px;
    margin-bottom: 10px;
}


.add_form{
    max-width: 500px;
    text-align: center;
}






footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }



  
table{
    text-align: center;
}

tr, td, thead, tbody{
    padding: 0px;
    margin: 0px;
    gap: 0px;
} 

.main_chart_td{
    padding: 0px;
    font-size: small;
  }
  .botton_w{
    padding: 8px;
    background-color: #21BA45;
  }






















  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 80%; 
    max-width: 480px;
}

.table > div {
  margin: 2px;
  background: powderblue;
  padding: 5px;
}

.table > div:nth-child(3n+2) {
  background: lemonchiffon;
}

.table > div:nth-child(3n+3) {
  background: palegreen;
}


