
body{
    text-align: center;
}



html, body { overflow-x: visible; }



#title{
    margin-top: 1em;
    margin-bottom: 1em;
}

#main_chart{
    margin-top: 50px;

}

#search_button{
    direction: ltr;
    display: flex ;
    justify-content : center;
    align-items: center;
}
#search_not_found{
    font-size: 0.5em;
    text-align: center;
    color: red;
    margin: 3em;
}


input[type='text']{
    direction: rtl;
    text-align:right;
    }
    


.multi_form{
    text-align: center
}

.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-select{
    margin-top: 10px;
    margin-bottom: 10px;
}


.add_form{
    max-width: 500px;
    text-align: center;
}






table{
    text-align: center;
}
td, th 
{
    text-align: center; 
    vertical-align: middle;
}














footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }



  


.main_chart_td{
    padding: 0px;
    font-size: small;
  }

  .botton_w{
    font-size: small;
    color:white;
    padding: 8px;
    background-color: #21BA45;
  }




















