

#title{
    margin-top: 1em;
    margin-bottom: 1em;
}

#block_main{
    margin-top: 50px;
}

#search_button{
    direction: ltr;
    display: flex ;
    justify-content : center;
    align-items: center;
}
#search_not_found{
    font-size: 0.5em;
    text-align: center;
    color: red;
    margin: 3em;
}

.chart_table{
    background: red;
}

input[type='text']{
    direction: rtl;
    text-align:right;
    }
    


table{
    text-align: center;
}

body{
    text-align: center;
    margin: auto;
}


.multi_form{
    margin-top: 100px;
    text-align: center;
}
.input-group{
    direction: ltr;
}

.myclass{
    max-width: auto;
}

.col-12{
    margin-top: 15px;
}
