{% extends "layout.html" %}
header
{% block body %}

<head>
  <link href="{{ url_for('static', filename='forms.css') }}" rel="stylesheet"/>
</head>
<br><br>



  <h1>اضافة مستخدم جديد</h1>
  <p>يرجى الحرص على تعبئة جميع المعطيات والتأكد منها قبل الارسال</p>
  
  <div class="container addForm">
    <form action="/add" method="post">
      <div class="row">
        <div class="col-25">
          <label for="username" autocomplete="off">الاسم</label>
        </div>
        <div class="col-75">
          <input type="text" id="username" name="username" value="محمد عمر ابومخ" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="class_n">الصف</label>
        </div>
        <div class="col-75">
          <select id="class_n" name="class_n" >
            <option required value="none" selected disabled hidden>اختر الصف</option>
            {% for class in class_s %}
            <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="student_n">رقم الطالب</label>
        </div>
        <div class="col-75">
          <input type="text" id="student_n" name="student_n" value="0504834414">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="mother_n">رقم الام</label>
        </div>
        <div class="col-75">
          <input type="text" id="mother_n" name="mother_n" value="0504834414">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="father_n">رقم الاب</label>
        </div>
        <div class="col-75">
          <input type="text" id="father_n" name="father_n" value="0504834414">
        </div>
      </div>
      <br>
      <div class="row">
        <input type="submit" value="SAVE">
      </div>
    </form>
  </div>

  {% endblock %}
