
{% extends "layout.html" %}

{% block body %}


{% block title %}
<h1 class="ui center aligned header" id="title">قائمة الطلاب</h1>
{% endblock title %}


{% block search %}
    <div class="" id="search_button">
        <form action="/search" method="get">
              <div class="input-group mb-3">
                <button type="submit" value="Search" class="btn btn-primary" id="button-addon1">Search</button>
                <input autocomplete="off" autofocus name="searched_word" placeholder="ابحث..." type="search" class="form-control + placeholder_class" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
        </form>
      </div>

    {% if not_found  %}
        <div id="search_not_found">
            <h3>!sorry, user not found</h3>
        </div>
    {% endif %}
{% endblock search %}


    











{% block main %}
<div id="main_chart" class="">      
    
    <table class="table table-bordered border-primary" id="chart_table">
      <tr class="table-success">
          <th>الاسم</th>
          <th> الصف</th>
          <th>رقم الطالب</th>
          <th>رقم الام</th>
          <th>رقم الاب</th>
          <th>ملاحظة</th>
        </tr>

    {% for user in users %}
    <div>
        <tr>
            <td class="">{{ user[1] }}</td> 
            <td class="">{{ user[3] }}</td> 
            <td><a class="ui green button" href="https://api.whatsapp.com/send?phone=972{{ user[5] }}">رقم الطالب</a></td>
            <td><a class="ui green button" href="https://api.whatsapp.com/send?phone=972{{ user[6] }}">رقم الام</a></td>
            <td><a class="ui green button" href="https://api.whatsapp.com/send?phone=972{{ user[7] }}">رقم الاب</a></td>
            <td>{{ user[10] }}</td>
        </tr>
    </div>
    {% endfor %}
    

{% endblock %}
</table>
</div>
























<table class="table" width="100%">
<div class="th" style="text-align: center">
{% for user in users %}
<div class="ui segment">
    <p class="ui big header">{{user[1] }} <br> <span style="font-size: 0.8em">({{ user[3] }})<span></p>
    <a class="ui blue button" href="/update/{{ user[5]  }}">رقم الطالب</a>
    <a class="ui green button" href="/update/{{ user[6]  }}">رقم الام</a>
    <a class="ui red button" href="/delete/{{ user[7]  }}">رقم الاب</a>
</div>
{% endfor %}

</table>


<br><br><br><br><br><br>


 



    <br><br><br><br><br><br>

{% endblock %}
