
{% extends "layout.html" %}

{% block body %}
<div class="container">

{% block title %}
<h1 class="ui center aligned header" id="title">قائمة الطلاب</h1>
{% endblock title %}


{% block search %}
    <div class="" id="search_button">
        <form action="/search" method="get">
              <div class="input-group mb-3">
                <button type="submit" value="Search" class="btn btn-primary" id="button-addon1">Search</button>
                <input autocomplete="off" autofocus name="searched_word" placeholder="اسم الطالب" type="search" class="form-control + placeholder_class" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
        </form>
      </div>

    {% if not_found  %}
        <div id="search_not_found">
            <h3>!sorry, user not found</h3>
        </div>
    {% endif %}
{% endblock search %}

<!--  

<div class="container" style="max-width:500px; ">
    <form>
            {% for class_n in class_s %}
            {% if class_n %}
            <button class="btn btn-danger" value="{{ class_n }}" action="/" method="POST">{{ class_n }}</button>
            {% endif %}
                {% if class_n == "10-5" or class_n == "11-5" %}
                 <br><br>   
                {% endif %}
            {% endfor %}
    </form>
    <script src="{{url_for('static', filename='ajax.js')}}"></script>
</div>
-->


<div class="container" style="max-width:200px; ">
    <form action="/" method="post">
        <select onchange='if(this.value != 0) { this.form.submit(); }' id="searched_class" name="searched_class" class="form-select" aria-label="Default select example">
            {% if searched_class  %}
            <option value="none" selected disabled hidden>{{ searched_class }}</option>
            {% endif %}
            {% if not searched_class  %}
            <option value="none" selected disabled hidden>اختر الصف</option>
            {% endif %}
            {% for class in class_s %}
                {% if class  %}
                    <option value="{{ class }}">{{ class }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>



<!--        radio button 
<div class="container" style="max-width:500px; ">
        <form action="/" method="post">
            {% for class_n in class_s %}
                {% if class_n  %}
                {% if class_n == "10-5" or class_n == "11-5" %}
                <br><br>   
               {% endif %}
                    <input class="form-check-input" id="searched_class" name="searched_class" type="radio" name="color" value="{{ class_n }}"> {{ class_n }}
                {% endif %}
            {% endfor %}
            <br>
            <input type="submit" value="submit">  
          </form>          
</div>

<style>

</style>
-->










{% block main %}
<div id="main_chart" class="">      
    
    <table class="table" id="chart_table">
      <tr class="table-success">
          <th>الاسم</th>
          <th> الصف</th>
          <th>رقم الطالب</th>
          <th>رقم الام</th>
          <th>رقم الاب</th>
        </tr>

    {% for user in users %}
    <div>
        <tr>
            <td class="">{% if user[1]  %}{{ user[1] }}</td> {% endif %}
            <td class="">{% if user[3]  %}{{ user[3] }} {% endif %}</td>
            <td>{% if user[5]  %}<a button type="button" class="btn botton_w botton_whatsapp div_elemnts botton_text" href="https://api.whatsapp.com/send?phone=972{{ user[5] }}">الطالب</a>{% endif %}</td>
            <td>{% if user[6]  %}<a button type="button" class="btn botton_w botton_whatsapp div_elemnts botton_text" href="https://api.whatsapp.com/send?phone=972{{ user[6] }}">الام</a>{% endif %}</td>
             <td>{% if user[7]  %}<a button type="button" class="btn botton_w botton_whatsapp div_elemnts botton_text" href="https://api.whatsapp.com/send?phone=972{{ user[7] }}">الاب</a>{% endif %}</td>
        </tr>
    </div>
    {% endfor %}


{% endblock %}
</table>
</div>




        <br><br><br><br><br><br>
        <br><br><br><br><br><br>


 



</div>
{% endblock %}
