{% extends "layout.html" %} {% block body %}

<table class="table">
  <thead>
    <tr class="">
      <th class="main_chart_td">الاسم</th>
      <th class="main_chart_td">الصف</th>
      <th class="main_chart_td">رقم الطالب</th>
      <th class="main_chart_td">رقم الام</th>
      <th class="main_chart_td">رقم الاب</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <div>
        <tr>
            <td class="">{{ user[1] }}</td> 
            <td class="">{{ user[3] }}</td> 
            <td><a button type="button" class="btn btn-success botton_w main_chart_td" href="https://api.whatsapp.com/send?phone=972{{ user[5] }}">الطالب</a></td>
            <td><a button type="button" class="btn btn-success botton_w main_chart_td" href="https://api.whatsapp.com/send?phone=972{{ user[6] }}">الام</a></td>
            <td><a button type="button" class="btn btn-success botton_w main_chart_td" href="https://api.whatsapp.com/send?phone=972{{ user[7] }}">الاب</a></td>
        </tr>

            <tr>
                {% if user[10]  %}
                <td class="main_chart_td" id="note">{{ user[10] }}</td>
                {% endif %}
            </tr>

<h1>just for testing</h1>
<h1>yes it's work</h1>
<h1>do new thing every day</h1>
    </div>
    {% endfor %}
  </tbody>
</table>

{% endblock %}



<div class="table">
  <div>Row 1</div>
  <div>1.00</div>
  <div>Description</div>
  
    <div>Row 2</div>
  <div>2.00</div>
  <div>A description</div>
  
    <div>Row 3</div>
  <div>3.00</div>
  <div>Very long description that will wrap over to the next line without affecting the width of other columns in the table.</div>
  
      <div>Row 4 too long for the first column</div>
  <div>4.00</div>
  <div>Longer description</div>
  
  <div>Row 5</div>
  <div>Too long for the second column</div>
  <div>Another description</div>
 </div>

 