{% extends "layout.html" %} {% block body %}


<div class="main_chart">
  <div class="div1">
    <div class="div_elemnts titels" id="1_1">الاسم</div>
    <div class="div_elemnts titels" id="1_2">الصف</div>
    <div class="div_elemnts titels" id="1_3">رقم</div>
    <div class="div_elemnts titels" id="1_4">رقم</div>
    <div class="div_elemnts titels" id="1_5">رقم</div>
  </div>  

          
  {% for user in users %}
  <div class="div1">
    <div class="div_elemnts" id="1_1">{{ user[1] }}</div>
    <div class="div_elemnts" id="1_2">{{ user[3] }}</div>
    <div class="div_elemnts btn btn-success" id="1_3">{{ user[5] }}</div>
    <div class="div_elemnts btn btn-success" id="1_4">{{ user[6] }}</div>
    <div class="div_elemnts btn btn-success" id="1_5">{{ user[7] }}</div>
  </div>        
  <div>
    {% if user[10]  %}
      <div class="" id="note">{{ user[10] }}</div>
    {% endif %}</div>  
  {% endfor %}
</div>  




<style>

  .main_chart{
    display: grid;
    place-items: center;
  }
  .div1{
  width: 90%;
  display: grid;
  grid-template-columns: 30% 10% 20% 20% 20% ;
  gap: 5px;
  margin:5px;
}




.div_elemnts{
  font-size: 0.5em;
  height: auto;
  display: flex ;
  justify-content : center;
  align-items: center;
}
      .div_elemnts:nth-child(1) {
      }
      .div_elemnts:nth-child(2) {
      }
      .div_elemnts:nth-child(3) {
      }
      .div_elemnts:nth-child(4) {
      }
      .div_elemnts:nth-child(5) {
      }
      .div_elemnts:nth-child(6) {
      }

      .note_elemnt{
        display: flex ;
        justify-content : right;
        align-items: center;
      }
      .titels{
        font-size: 3vw;
      }

</style>



<br><br><br><br><br><br><br><br><br><br><br>


{% block main %}
<table class="table">
  <thead>
    <tr class="">
      <th class="main_chart_td">الاسم</th>
      <th class="main_chart_td">الصف</th>
      <th class="main_chart_td">رقم الطالب</th>
      <th class="main_chart_td">رقم الام</th>
      <th class="main_chart_td">رقم الاب</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <div>
      <tr>
        <td class="">{{ user[1] }}</td> 
        <td class="">{{ user[3] }}</td> 
        <td><a button type="button" class="btn btn-success botton_w main_chart_td" href="https://api.whatsapp.com/send?phone=972{{ user[5] }}">الطالب</a></td>
        <td><a button type="button" class="btn btn-success botton_w main_chart_td" href="https://api.whatsapp.com/send?phone=972{{ user[6] }}">الام</a></td>
        <td><a button type="button" class="btn btn-success botton_w main_chart_td" href="https://api.whatsapp.com/send?phone=972{{ user[7] }}">الاب</a></td>
      </tr>
      
      <tr>
        {% if user[10]  %}
        <td class="main_chart_td" id="note">{{ user[10] }}</td>
        {% endif %}
      </tr>
      

    </div>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% endblock %}


